  @import "./base.css";
  
  @layer nav {
    /* these styles display at GREATER THAN 800PX or all the time */
    #top {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 1.5rem;
      font-family: var(--cursive);
      margin: 4rem auto;
      max-width: 600px;
    }
    #top ul {
      list-style: none;
      margin: 0.5rem 0 0 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      gap: 1rem;
    }
    #top h1 {
      font-size: var(--h3);
      margin: 0;
    }
    #top h1 a:hover {
      color: var(--lime);
    }
    #top a {
      display: block;
      text-decoration: none;
      color: var(--white);
    }
    #top > nav a:focus,
    #top > nav a:hover {
      color: var(--magenta);
    }
    .bandname {
      padding-left: 1rem;
      display: none;
    }
    
    /* where the hamburger button displays <=799 stop 799 no more 799*/
    @media (max-width: 799px) {
      #mainMenuOpen {
        display: block;
        font-size: 2rem;
        line-height: 1;
        border: 0;
        background: transparent;
        color: var(--magenta);
      }
      /* hamburger icon itself - unicode character */
      #mainMenuOpen::after {
        content: "\2630";
      }
      /* style the navbar offscreen - position the box on screen */
      #mainMenuOpen + nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        padding-top: 100px;
        justify-content: center;
        opacity: 0;
        background: #000d;
        transition: left 0s 0.5s, opacity 0.5s;
      }
      /* transition from off screen to onscreen navbar */
      #mainMenuOpen:focus + nav,
      #mainMenuOpen + nav:focus-within {
        left: 0;
        opacity: 1;
        transition: left 0s, opacity 0.5s;
      }
      /* box containing links - transition onscreen */
      #mainMenuOpen + nav ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        position: relative;
        top: -50vh;
        min-width: 50vw;
        max-width: 100vw;
        overflow: hidden;
        transition: top 0.5s;
      }
      /* transition unordered list to the screen */
      #mainMenuOpen:focus + nav ul,
      #mainMenuOpen + nav:focus-within ul {
        top: 0;
      }
      /* link styles */
      #top > nav a {
        display: block;
        padding: 2rem 1rem;
        text-align: center;
      }
      /* close button */
      #mainMenuOpen + nav ul::after {
        content: "";
        background: url("https://assets.codepen.io/296057/fem-close.svg")
          no-repeat center;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    
    /* where the band name displays just the icon */
    @media (min-width: 500px) {
      .bandname {
        display: inline; 
      }
    }
  }
  
  @layer cover {
     /*set up to show icon*/
    /*. cover in main icon*/
   .cover {
      max-width: 500px;
      margin: 0 auto;
      padding-bottom: 2rem;
      display: grid;
      grid-template-rows: repeat (3, auto);
    }
    
    /* wanna have album and icons overlap so will set grid-column / row the same*/
    .cover img {
      border: 2px solid var(--cyan);
      grid-column: 1/2;
      grid-row: 1/3;
    }
    .icons{
      grid-row: 1/3;
      grid-column: 1/2;
      justify-self: end; /*put the icon end to the right*/
      padding-right: 1rem;
    }
    #audio-player-container {
      grid-row: 3/4;
      grid-column: 1/2;
    }
    .icons ul {
      list-style-type: none;
      padding: 0;
      margin: 1rem 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    .icons svg {
      fill: var(--lime);
    }
    .icons svg:hover {
      fill: var(--cyan);
    } 
    
    /* make them go horizontal*/
    @media (min-width: 800px) {   /*over 800 do this*/
     .icons {
      margin-top: -3rem; /*icon goes up to border*/
    }
    .icons ul {
      flex-flow: row wrap;
    }
   }
  }
   
  @layer audio {
    .cover {
      max-width: 550px;
      margin: 0 auto;
    }
  
    #audio-player-container .controls {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
      margin: 1rem;
    }
  
    #audio-player-container .volume {
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      justify-content: center;
      align-items: center;
    }
  
    #audio-player-container .name-play {
      display: grid;
      grid-template-columns: 2fr 0.5fr 2fr;
      gap: 1rem;
      margin: 1rem;
      justify-content: center;
      align-items: center;
    }
  
    #audio-player-container .play-slider {
      display: grid;
      grid-template-columns: 0.15fr 1fr 0.15fr;
      align-items: center;
    }
  
    .name-play p {
      font-family: var(--cursive);
    }
  
    .name-play p:last-of-type {
      text-align: right;
    }
  
    #audio-player-container {
      --seek-before-width: 0%;
      --volume-before-width: 100%;
      --buffered-width: 0%;
    }
  
    #audio-player-container button {
      padding: 0;
      border: 0;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
    
    /* การอ้างอิงระว่าง tag name และ id จะไม่มีการเว้นวรรค และต้องไมีมีองค์ประกอบอื่นอยู่ระหว่างมัรใน html stucture*/
  
    button#mute-icon {
      width: 2rem;
      margin-left: 1rem;
    }
  
    button#play-icon {
      display: block;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: var(--lime);
      width: 3rem;
      height: 3rem;
    }
  
    button#play-icon:hover {
      background-color: var(--cyan);
    }
  
    /*เป็นการเลือกแบบ"descendant combinator"ที่เลือก path ภายในปุ่มที่เป็น "#play-icon" และใช้เป็นส่วนหนึ่งของการกำหนดสไตล์สำหรับองค์ประกอบ path นั้น ๆ ใน SVG*/
  
    button#play-icon path {
      stroke: var(--black);
    }
  
    #audio-player-container path {
      stroke: var(--white);
    }
  
    #current-time {
      text-align: left;
    }
  
    #duration {
      text-align: right;
    }
    #audio-player-container output {
      display: inline-block;
      text-align: center;
    }
  
    #volume-slider {
      width: 100%;
      margin: 10px 2.5%;
    }
  
    #volume-slider::-webkit-slider-runnable-track {
      background: rgba(0, 125, 181, 0.6);
    }
  
    #volume-slider::-moz-range-track {
      background: rgba(0, 125, 181, 0.6);
    }
  
    #volume-slider::-ms-fill-upper {
      background: rgba(0, 125, 181, 0.6);
    }
  
    #volume-slider::before {
      width: var(--volume-before-width);
    }
  
    input[type="range"] {
      position: relative;
      -webkit-appearance: none;
      margin: 0;
      padding: 0;
      height: 19px;
      background-color: transparent;
    }
  
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
      );
    }
    input[type="range"]::before {
      position: absolute;
      content: "";
      top: 8px;
      left: 0;
      width: var(--seek-before-width);
      height: 3px;
      background-color: var(--cyan);
      cursor: pointer;
    }
  
    input[type="range"]::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
      box-sizing: content-box;
      border: 1px solid var(--cyan);
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      margin: -7px 0 0 0;
    }
  
    input[type="range"]:active::-webkit-slider-thumb {
      transform: scale(1.2);
      background: var(--cyan);
    }
  
    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
      );
    }
  
    input[type="range"]::-moz-range-progress {
      background-color: var(--cyan);
    }
  
    input[type="range"]::-moz-focus-outer {
      border: 0;
    }
  
    input[type="range"]::-moz-range-thumb {
      box-sizing: content-box;
      border: 1px solid #007db5;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
    }
  
    input[type="range"]:active::-moz-range-thumb {
      transform: scale(1.2);
      background: var(--cyan);
    }
  
    input[type="range"]::-ms-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: transparent;
      border: solid transparent;
      color: transparent;
    }
  
    input[type="range"]::-ms-fill-lower {
      background-color: var(--cyan);
    }
  
    input[type="range"]::-ms-fill-upper {
      background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
      );
    }
  
    input[type="range"]::-ms-thumb {
      box-sizing: content-box;
      border: 1px solid var(--cyan);
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
    }
  
    input[type="range"]:active::-ms-thumb {
      transform: scale(1.2);
      background: var(--cyan);
    }
  }
  
  @layer reviews {
    .star {
      width: 18px;
    }
    .reviews {
      margin: 2rem auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1rem;
      text-align: center;
    }
    
    .hidemobile {
      display: none;
    }
        
    /*mobile view point*/
    @media (min-width: 800px) {
      .wrapper {
        max-width: 800px;
      }
      .hidemobile {
        display: block;
      }
      .hidetablet {
        display: none;   /*hide it on mobile*/
      }
      .reviews {
        padding: 0 3rem;
      }
    }
    
    /*tablet view point*/
    @media (min-width: 1000px) {
     /*-hide it on mobile*/
      .hidetablet {
        display: block;
      }
      .wrapper {
        max-width: 1440px;
      }
    }
  }
  
  @layer album {
     
    .album {
      border : 2px solid var(--cyan);
      max-width: 500px; /*it wont go all the way cross the page*/
      margin: 2rem auto; /*center thing in border also give some space 2rem*/
      padding: 1rem;
      text-align: center;
      position: relative; 
      /*กำหนดตำแหน่งโดยสัมพันธ์กับตำแหน่งปกติของตัวมันเอง (เลื่อนได้จากตำแหน่งเดิม)*/
    }
    
    .album h2{
      margin: 0; /*there's margin on the header need to turn taht off*/
      font-family: var(--cursive);
      font-size: var(--h6);
    }
    
    /*
    .album::before: จะเลือกก่อนเนื้อหาภายในองค์ประกอบที่มีคลาส album ทุกตัว ใน HTML จะเลือก section.album.bgmaglime และ section.album
    .album::after: จะเลือกหลังเนื้อหาภายในองค์ประกอบที่มีคลาส album ทุกตัว ใน HTML จะเลือก section.album.bgmaglime และ section.album
    .album > :first-child::before: จะเลือกก่อนเนื้อหาขององค์ประกอบลูกตัวแรกที่อยู่ภายใต้ album ใน HTML องค์ประกอบลูกตัวแรกของ section.album.bgmaglime คือ H2 
    .album > :first-child::after: จะเลือกหลังเนื้อหาขององค์ประกอบลูกตัวแรกที่อยู่ภายใต้ album ใน HTML งค์ประกอบลูกตัวแรกของ section.album.bgmaglime คือ <h2> 
    */ 
    
     /* double border on corners - Create 4 boxes from the before/after nodes on the album container and the album's first child (h2) */
    .album::before,
    .album::after,
    .album > :first-child::before,
    .album > :first-child::after {
      /* box requires some content to display */
      content: " "; /*ใช้สร้างขอบคอนเทนต์ */
      
      /* change width and height to control corner size */
      width: 40px;
      height: 40px;
      
      position: absolute; /* องค์ประกอบจะถูกนำออกจากการไหลของเอกสารปกติ โดยกำหนด width 40m height: 40 */
      
      /* border requires color, style, width to display - here we set color and style only */
      border-color: var(--cyan); 
      border-style: solid; 
    
      /* controls space between inner and outer borders */
      margin: 0.25rem;
    }
    
    /* now for each box, display it in its location and display the border on only 2 sides */
     .album::before {
       top: 0;
       right: 0;
       border-width: 2px 2px 0 0; /*t r b l*/
    }
    .album::after {
       top: 0;
       left: 0;
       border-width: 2px 0 0 2px ; /*t r b l*/
   
    }
    .album > :first-child::before {
       bottom: 0;
       right: 0;
       border-width: 0 2px 2px 0; /*t r b l*/
     
    }
    .album > :first-child::after {
       bottom: 0;
       left: 0;
       border-width: 0 0 2px 2px; /*t r b l*/
   
    }
    
    .album h1 {
      font-family: var(--serif);
      text-align: center;
      color: var(--lime);
      font-size: var(--h4);
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 1rem;
    }
    
    .bolt-lg {
      width: 155px;
      margin: 2rem auto;
    }
    
    /*add bg img in the box*/
    .bgmaglime {
      background: url(https://assets.codepen.io/296057/fem-blindfold-1200.jpg) no-repeat;
      background-size: cover;  /* make sure cover entire width*/
    }
  }
  
  @layer tracklist {
    .button-tracklist {
      display: block;
      border: none;
      font-family: var(--serif);
      text-transform: uppercase;
      width: 100%;
      color: var(--magenta);
      background-color: transparent;
      font-size: var(--h5);
      padding: 1rem;
    }
    
    .button-tracklist:hover {
      color: var(--cyan);
    } 
    
    .tracklist {
      margin: 0 auto; /*always center on the page*/
      padding: 0 1.5rem;
      border: 2px solid var(--cyan);
    }
    
    .tracklist:hover{
      border-color: var(--white);
    } 
    
    /* ---- list body -----*/
    table {
      max-width: 500px; /* set the same thing with box album*/
      width: 100% ; /* กำหนดความกว้างของกล่องให้เต็ม 100% ของ container มันจะขยายให้เต็ม */
      margin: 0 auto;
      font-family: var(--cursive);
      border-collapse: collapse; /*รวมเส้นขอบของตารางและเซลเข้าด้วยกัน*/
    }
    
    caption, th {
      visibility: collapse; /*visible caption*/
    }
    
    td {
      padding: 1rem 0;
  
    }
   
    /*last column always be the time so selector last column*/
    td:last-of-type{
      font-family: var(--serif);
      color: var(--magenta);
      font-weight: 600;
      text-align: right;
    }
    
    .hidden{
      display: none;
    }
    
    .showing{
      display: table;
    }
    
    /*move to tracklist to left side*/
    @media (min-width: 800px) {
      .main-grid {
        display: grid;
        grid-template-columns: 100px 500px;
        max-width: 600px; /* 100px +500px*/
        gap: 0px;
        margin: 0 auto;
         /*little animation for tracklist*/
      }
      
      .main-grid-open{
        grid-template-columns: 300px 500px;
        max-width: 800px; 
        transition: all 0.5s ease;
      }
      .cover {
        order: 2; /*swop to 2 */
      }
      
      /*fixing the tracklist to have the same height with img*/
      .tracklist {
        height: 500px;
        justify-self: end; 
        padding: 0;
        margin: 0;
        overflow-y: auto;  /*get a scroll bar for tracklist*/
        overflow-x: hidden;  /*turn of any extra content*/
      }
        /*format the button*/
      .button-tracklist{
        transform: rotate(90deg);
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 225px;
        transition: all 0.5s ease;
      }
      
      /*ปุ่มclose จะกลับไปอยู่แนวนอน*/
      .button-close {
        transform: rotate(0deg); 
        padding: 1rem 0;
        margin-top: 0;
        position: sticky; /*ปุ่ม close จะอยู่ที่เดิม ถึงจะมีการเลื่อน scroll bar*/
        top: 0; 
        background-color: var(--cyan);
        color: var(--black);
        transition: all 0.5s ease;
      }   
      
      .button-close:hover {
        background-color: var(--lime);
        color: var(--white);
      }
      
      /*set up tracklist table*/
      .tracklist table {
        margin: -4rem 1rem 0.5rem 1rem; /* -4 pull it up to close botton*/
      }
      
      .tracklist table td:last-of-type{
        padding-right: 2rem;
      }
      
      /*set up for another browser to work well on scroll bar*/
      .tracklist::webkit-scrollbar{
        width: 10px;
      }
      
      .tracklist::webkit-scrollbar-track{
        background-color: var(--cyan);
    }
      
      .tracklist::webkit-scrollbar-thumb{
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
        /*give a showdow for scroll bar */
     }
      
       /*scroll bar for firefox*/
      html {
        scrollbar-color: var(--cyan) var(--grey);
        scrollbar-width: thin;
      }
  }
  }  
  
  @layer diamonds {
    .diamonds li:first-child {
      background: url("https://assets.codepen.io/296057/fem-purple-arms.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(2) {
      background-image: url("https://assets.codepen.io/296057/fem-fireworks.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(3) {
      background-image: url("https://assets.codepen.io/296057/fem-blue-arms.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(4) {
      background-image: url("https://assets.codepen.io/296057/fem-camera.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(5) {
      background-image: url("https://assets.codepen.io/296057/fem-stripe.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(6) {
      background-image: url("https://assets.codepen.io/296057/fem-purple-hands.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(7) {
      background-image: url("https://assets.codepen.io/296057/fem-firework.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(8) {
      background-image: url("https://assets.codepen.io/296057/fem-stadium.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(9) {
      background-image: url("https://assets.codepen.io/296057/fem-flag.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(10) {
      background-image: url("https://assets.codepen.io/296057/fem-women.jpg");
      background-size: contain;
    }
    
   /*----this scope just only for diamond-container----*/
    .diamond-container{
      --sq: 200px;
      --sq-gap: 2rem;
      --max-width: 325px;
      max-width: var(--max-width);
      margin: 2rem auto;
      border: 2px solid var(--cyan);
    }
    
    .diamonds li{
      list-style: none;
      width: var(--sq);
      height: var(--sq);
      margin-bottom: var(--sq-gap);
    }
    
    .diamonds li:nth-child(odd){
      transform: rotate(4deg);
    }
    
    .diamonds li:nth-child(even){
      transform: rotate(-6deg);
    }
    
    /*----- set up a diamond ------*/
    @media (min-width: 324px){
       .diamond-container{
      --sq: 150px;
      --sq-gap: 3px;
      --max-width: 325px;
       }
      
      .diamonds li:nth-child(n) {
        transform: rotate(0deg);
      }
      
      /*clip-path ใช้เพื่อสร้างรูปทรงที่ซับซ้อนและใช้ในการตัดบางส่วนขององค์ประกอบออกตามรูปทรงที่กำหนด ค่า polygon เพื่อกำหนดรูปทรงหลายเหลี่ยม โดยการระบุจุด
      middle of top right bottom left -t r b l -
      */
      .diamonds li {
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
      }
      
      /*turn on flexbox*/
      .diamonds {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: var(--sq-gap);
        /*diamond in the box nicely*/
        padding-left: calc(0.5 * var(--sq));
        padding-top: calc(0.5 * var(--sq));
      }
      
       /*encorage the diamond to overlap a bit*/
      .diamonds li{
        margin-left: calc(-0.5 * var(--sq)); /*-0.5 * 150px = 75px*/
        margin-bottom: 0;
      }
      
      /*take a second img to pull it up*/
      
      /* li:nth-child(3n + 2); pick every third diamond starting with the second one*/
      .diamonds li:nth-child(3n + 2) {
        margin-top: calc((-0.5 * var(--sq)) - (0.5 * var(--sq-gap)));
    }
          
      /*pull up the last diamond*/
      .diamonds li:nth-child(10) {
        margin-top: calc((-0.5 * var(--sq)) - (0.5 * var(--sq-gap)));
      }
    
    
     @media (min-width: 440px){
       .diamond-container{
      --sq: 200px;
      --sq-gap: 4px;
      --max-width: 440px;
       }       
     }
      
     @media (min-width: 800px){
       .diamond-container{
      --sq: 250px;
      --sq-gap: 6px;
      --max-width: 550px;
       }       
     }      
  }  
  }
  
  @layer footer {
    footer {
      text-align: center;
    }
    footer ul {
      list-style-type: none;
      padding: 0;
      margin: 1rem 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    footer svg {
      fill: var(--lime);
    }
    footer svg:hover {
      fill: var(--cyan);
    }
  }
  
  /*set up for the whole webpage everytime every page*/
  @media (min-width: 800px) {
    .wrapper {
      max-width: 800px;
    }
  }
  /*genneral page layput which is desktop based media quiries and show everywhere*/
  @media (min-width: 1440px) {
    .wrapper {
      max-width: 1440px;
      display: grid;
      grid-template-columns: 6fr 4fr;
      /*left side bigger than right side*/
    }
    
    /*lightning bolts in between the reviews show up*/
    .hidetablet .hidemobile {
      display: block;
    }
    
    .desktop-left {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    
    .desktop-right{
      grid-column: 2/3;
      grid-row: 1/3;
      margin-bottom: 5rem;
    }
    
    footer {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-top: -20rem;
    }
    
  }  
    
    